body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    padding: 0px !important;
    overflow-x: hidden; 
}

h1 {
    font-size: 80px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px black;
    line-height: 90%;
    color: white;
}

h2 {
    font-size: 30px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 2px;
    margin: 0;
    color: black;
}

h3 {
    color: black;
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 15px;
    color: black;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, 350px) 1fr;
    grid-template-rows: 450px 150px 1030px 300px;
}

/* ------------WEBB------------ */

/* ---HEADER--- */

#print-logo {
    display: none;
}

header {
    grid-area: 1/2/2/span 3;
    display: grid;
}

.logo {
    position: absolute;
    width: 200px;
    top: 20px;
}

#link-logo {
    height: 0px;
}

#menu_pic {
    grid-area: 1/1/2/6;
    overflow: hidden;
}

#text-header {
    position: absolute;
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu_picture {
    width: 100%;
}

li {
    list-style: none;
    display: inline-block;
}

nav {
    grid-area: 1/4/2/5;
    display: flex;
    position: relative;
    justify-content: flex-end;
    top: 20px;
    height: 55px;
}

header a {
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: .2s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.34);
}

#menu-button {
    display: none;
}

/* ---GAP1--- */

#gap1 {
    grid-area: 2/2/3/span 3;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

/* ---GRID-MENU--- */

#grid-container-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 270px);
    grid-gap: 25px 25px;
    grid-area: 3/2/4/span 3;
} 

#overlay_m1, #overlay_m2,
#overlay_m3, #overlay_m4,
#overlay_m5, #overlay_m6 {
    opacity: 0;
    position: absolute;
    background: rgba(185, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 70px;
}

#m1:hover #overlay_m1 {
    opacity: 1;
}

#m2:hover #overlay_m2 {
    opacity: 1;
}

#m3:hover #overlay_m3 {
    opacity: 1;
}

#m4:hover #overlay_m4 {
    opacity: 1;
}

#m5:hover #overlay_m5 {
    opacity: 1;
}

#m6:hover #overlay_m6 {
    opacity: 1;
}

span {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#m1, #m2,
#m3, #m4,
#m5, #m6 {
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: white;
    
}

.textbox {
    position: absolute;
    padding: 30px;
}

.textbox h2 {
    color: white;
}

#m1 {
    grid-area: 1/1/2/3;
    background-color: #890200;
}

#m2 {
    grid-area: 1/3/2/4;
    background-color: #5F0100;
}

#m3 {
    grid-area: 2/1/3/2;
    background-color: #5F0100;
}

#m4 {
    grid-area: 2/2/3/4;
    background-color: #890200;
}

#m5 {
    grid-area: 3/1/4/3;
    background-color: #890200;
}

#m6 {
    grid-area: 3/3/4/4;
    background-color: #5F0100;
}

/* ---NYHETER-SKELLEFTEA/PITEA--- */

#skelleftea, #pitea {
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 900px;
    padding: 40px;
    padding-top: 20px;
    overflow: hidden;
    position: relative;
}

#skelleftea {
    margin-right: 15px;
}

#pitea {
    margin-left: 15px;
}

#content-nyheter {
    grid-area: 3/2/4/5;
    display: flex;
    justify-content: space-between;
}

.news-item {
    text-align: left;
    padding-bottom: 35px;
    padding-top: 20px;
}

.news-item p {
    margin: 0;
}

.news-item h3 {
    margin: 5px 0px;
}

.read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, transparent, white);
}

.read-more a {
    color: white;
    text-decoration: none;
    background-color: #EB0805;
    border-radius: 15px;
    padding: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
}

/* ---SPEL--- */

#gap1-game {
    grid-area: 2/2/3/span 3;
    padding-top: 50px;
    color: black;
}

#gap1-game p {
    margin: 0;
}

#content-game {
    grid-area: 3/2/4/4;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 200px) 135px repeat(2, 200px);
    grid-gap: 25px 25px;
}

#price {
    grid-area: 3/4/4/5;
    color: black;
    padding-left: 60px;
}

#price p {
    margin: 0;
}

#sale-text {
    padding-top: 60px;
    grid-area: 3/1/4/4;
}

#sale-text p {
    margin: 0;
}

#sale1 {
    grid-area: 4/1/5/2;
}

#sale2 {
    grid-area: 4/2/5/3;
}

#sale3 {
    grid-area: 4/3/5/4;
}

#sale1:hover #overlay-sale1 {
    opacity: 1;
}

#sale2:hover #overlay-sale2 {
    opacity: 1;
}

#sale3:hover #overlay-sale3 {
    opacity: 1;
}

#game1, #game2, #game3,
#game4, #game5, #sale1,
#sale2, #sale3 {
    background-color: #890200;
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#overlay-game1, #overlay-game2,
#overlay-game3, #overlay-game4,
#overlay-game5, #overlay-sale1,
#overlay-sale2, #overlay-sale3 {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding-top: 70px;
}

#overlay-game1 p, #overlay-game2 p,
#overlay-game3 p, #overlay-game4 p,
#overlay-game5 p, #overlay-sale1 p,
#overlay-sale2 p, #overlay-sale3 p {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#game1:hover #overlay-game1 {
    opacity: 1;
}

#game2:hover #overlay-game2 {
    opacity: 1;
}

#game3:hover #overlay-game3 {
    opacity: 1;
}

#game4:hover #overlay-game4{
    opacity: 1;
}

#game5:hover #overlay-game5 {
    opacity: 1;
}

#game1 {
    grid-area: 1/1/2/2;
}

#game2 {
    grid-area: 1/2/2/3;
}

#game3 {
    grid-area: 1/3/2/4;
}

#game4 {
    grid-area: 2/1/3/2;
}

#game5 {
    grid-area: 2/2/3/3;
}

/* ---BOKA--- */

form {
    grid-area: 3/2/4/5;
    padding: 10px 0px;
    
}

::placeholder {
    color: #7B7B7B;
    opacity: 1;
    font-family: 'Quicksand', sans-serif;
}

.booking {
    padding-top: 10px;
    width: 100%;
    table-layout: fixed;
}

input {
    height: 30px;
    width: 90%;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

input[type="time"], input[type="date"], input[type="submit"] {
    font-family: 'Quicksand', sans-serif;
}

#klarna, #paypal {
    width: 30px;
}

#content-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 170px) 230px 250px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

#info-time {
    grid-area: 1/1/2/3;
}

#info-person {
    grid-area: 2/1/3/3;
}

#info-summary {
    grid-area: 3/1/4/3;
}

#summary {
    border: 1px solid black;
    border-radius: 20px;
    height: 100px;
    padding: 20px;
    margin-top: 20px;
}

#info-payment {
    grid-area: 4/1/5/3;
    text-align: center;
}

#submit-button {
    width: 400px;
    height: 90px;
    border-radius: 20px;
    background: #EB0805;
    border: none;
}

#submit-button:hover {
    cursor: pointer;
}

input[type="submit"] {
    margin-top: 20px;
    color: white;
    font-family: 'Bowlby One SC', cursive;
    font-size: 30px;
}

/* ---KONTAKTA-OSS--- */

#contact-content {
    grid-area: 3/2/4/5;
    display: flex;
    flex-direction: column;
}

#contact-skelleftea, 
#contact-pitea {
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px;
    height: 300px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
}

#pitea-text {
    margin-right: 85px;
}

.mapouter {
    height: 300px;
    width: 600px;
    margin-left: 100px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 300px;
    width: 600px;
}

/* ---MEDLEM--- */

#medlem-video {
    grid-area: 3/2/4/5;
}

#medlem-video video {
    width: 100%;
}

/* ---FOOTER--- */

#before-footer {
    background-color: #EBEBEB;
    grid-area: 4/1/5/2;
}

#footer {
    background-color: #EBEBEB;
    grid-area: 4/2/5/5;
    padding-top: 20px;
}

#container-footer {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 160px 100px;
}

#footer-menu {
    grid-area: 1/1/2/2;
    padding-top: 20px;
}

#footer-menu table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 20px;
    text-align: left;
}

#footer-menu table tr th a {
    color: black;
    text-decoration: none;
}

#vertical-line {
    background: black;
    grid-area: 1/2/2/3;
}

#footer-contact {
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
}

#footer-media {
    grid-area: 2/1/3/4;
    padding-top: 20px;
}

#media {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.media-img {
    width: 30px;
    padding: 0px 10px;
}

#after-footer {
    background-color: #EBEBEB;
    grid-area: 4/5/5/6;
}

/* ---RESPONSIVITET--- */

@media only screen and (max-width: 1100px) {
    .grid-container {
        grid-template-columns: 1fr repeat(3, 32.2%) 1fr;
    }
    
    .mapouter iframe {
        width: 65%;
        transition: 0.5s ease;
    }
    
    #pitea-text {
        margin-right: 100px;
    }
}

/* ------------MOBIL------------ */

@media only screen and (max-width: 820px) {
    
    h1 {
        font-size: 35px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 17px;
    }
    
    p {
        font-size: 15px;
    }
    
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 240px 80px 1150px 300px;
    }
    
    /* ---HEADER--- */
    
    header {
        grid-area: 1/1/2/3;
    }
    
    .logo {
        width: 100px;
        margin-left: 10px;
    }
    
    #text-header {
        margin-top: 50px;
        height: 90px;
    }
    
    #menu_pic {
        grid-area: 1/1/2/3;
    }
    
    nav ul {
        padding: 0;
    }
    
    nav {
        grid-area: 1/1/2/3;
        top: 140px;
        justify-content: center;
    }
    
    nav li {
        margin-bottom: 25px;
    }
    
    nav a {
        color: black;
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.81);
        padding: 5px;
    }
    
    nav a:hover {
        background-color: #890200;
    }
    
    /* ---GRID-MENU--- */
    
    #grid-container-menu {
        grid-area: 3/1/4/3;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 150px);
        margin: 0px 10px;
    }
    
    #m1 {
        grid-area: 1/1/2/2;
    }
    
    #m2 {
        grid-area: 1/2/2/3;
    }
    
    #m3 {
        grid-area: 2/1/3/2;
    }
    
    #m4 {
        grid-area: 2/2/3/3;
    }
    
    #m5 {
        grid-area: 3/1/4/2;
    }
    
    #m6 {
        grid-area: 3/2/4/3;
    }
    
    #overlay_m1, #overlay_m2,
    #overlay_m3, #overlay_m4,
    #overlay_m5, #overlay_m6 {
        padding-bottom: 20px;
    }
    
    /* ---GAP1--- */
    
    #gap1 {
        grid-area: 2/1/3/3;
        padding: 0;
    }
    
    /* ---SPEL--- */
    
    #gap1-game {
        padding-top: 10px;
        grid-area: 2/1/3/3;
        margin-left: 10px;
    }
    
    #content-game {
        grid-area: 3/1/3/3;
        grid-template-columns: 100%;
        grid-template-rows: repeat(11, 100px);
        margin: 0px 10px;
    }
    
    #overlay-game1, #overlay-game2,
    #overlay-game3, #overlay-game4,
    #overlay-game5, #overlay-sale1,
    #overlay-sale2, #overlay-sale3 {
        display: none;
    }
    
    #game1 {
        grid-area: 1/1/2/2;
    }
    
    #game2 {
        grid-area: 2/1/3/2;
    }
    
    #game3 {
        grid-area: 3/1/4/2;
    }
    
    #game4 {
        grid-area: 4/1/5/2;
    }
    
    #game5 {
        grid-area: 5/1/6/2;
    }
    
    #sale-text {
        grid-area: 6/1/7/2;
        padding-top: 40px;
    }
    
    #sale1 {
        grid-area: 7/1/8/2;
    }
    
    #sale2 {
        grid-area: 8/1/9/2;
    }
    
    #sale3 {
        grid-area: 9/1/10/2;
    }
    
    #price {
        grid-area: 4/1/5/3;
        padding-left: 10px;
    }
    
    /* ---NYHETER--- */
    
    #content-nyheter {
        grid-area: 3/1/4/3;
        flex-direction: column;
        align-items: center;
        margin: 0px 10px;
    }
    
    #skelleftea, #pitea {
        margin: 0px;
        width: auto;
    }
    
    #pitea {
        margin-top: 30px;
    }
    
    /* ---KONTAKTA OSS--- */
    
    #contact-content {
        grid-area: 3/1/4/3;
    }
    
    .mapouter {
        display: none;
    }
    
    #pitea-text {
        margin-right: 0;
    }
    
    #contact-pitea,
    #contact-skelleftea {
        justify-content: center;
        height: 200px;
    }
    
    /* ---BOKA--- */
    
    form {
        grid-area: 3/1/4/3;
        margin: 0px 10px;
    }
    
    .booking td {
        display: block;
    }
    
    #content-form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 250px) 230px 250px;
    }
    
    input {
        width: 96%;
    }
    
    /* ---MEDLEM--- */
    
    #medlem-video {
        grid-area: 3/1/4/3;
        margin: 0px 10px;
    }
    
    /* ---FOOTER--- */
    
    #before-footer, #footer, #after-footer {
        display: none;
    }
}
